body{
    background-size: cover;
}

label{
    width: 100%;
}
#Start_btn,
#number_of_objects,
#Status{
    font-size: 18px;
}
.copyright-Footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: blanchedalmond;
    text-align: center;
}

canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}